<%= Gon::Base.render_data %>
<div id="meetings_calendar"></div>

<br>
<div id="color_legend">
  <h4>Color Legend</h4>
  <div class="room room1">
    <div class="my_reservations">My Reservations</div>
    <div class="other_reservations">Other Reservations</div>
    - 1: Baby Room
  </div>
  <div class="room room2">
    <div class="my_reservations">My Reservations</div>
    <div class="other_reservations">Other Reservations</div>
    - 2: Guest Room
  </div>
  <div class="room living_room">
    <div class="my_reservations">My Reservations</div>
    <div class="other_reservations">Other Reservations</div>
    - LR: Living Room
  </div>
  <div class="room quiet_living_room">
    <div class="my_reservations">My Reservations</div>
    <div class="other_reservations">Other Reservations</div>
    - QUIET: Living Room (will require quiet hours)
  </div>
  <div class="room bedroom">
    <div class="my_reservations">My Reservations</div>
    <div class="other_reservations">Other Reservations</div>
    - BR: Master Bedroom
  </div>
  <div class="room garage">
    <div class="my_reservations">My Reservations</div>
    <div class="other_reservations">Other Reservations</div>
    - G: Garage
  </div>
  <div class="room unassigned">
    <div class="my_reservations">My Reservations</div>
    <div class="other_reservations">Other Reservations</div>
    - Location Unassigned
  </div>

</div>
